<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>一步比价</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>FareComparator</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>uber</string>
		<string>uberauth</string>
		<string>iosamap</string>
		<string>didipasnger</string>
		<string>alipay</string>
		<string>weixin</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>滴步比价需要获取您的当前位置，以便计算车费与接驾时间</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>滴步比价需要读取您的相册，以便提供更优质的体验</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UberCallbackURIs</key>
	<array>
		<dict>
			<key>URIString</key>
			<string>https://github.com/hbk671104</string>
			<key>UberCallbackURIType</key>
			<string>General</string>
		</dict>
		<dict>
			<key>URIString</key>
			<string>FareComparator://uberSSO</string>
			<key>UberCallbackURIType</key>
			<string>Native</string>
		</dict>
	</array>
	<key>UberClientID</key>
	<string>2D80-rng6Hyw_dPWDQ9hN5VNg6sy3AnE</string>
	<key>UberDisplayName</key>
	<string>FareComparator</string>
	<key>UberServerToken</key>
	<string>lG4ATDaqvivdza9EfuREINmEFEeXVy90YUTs6d6u</string>
</dict>
</plist>
